body{
    height: auto;
    background-color: #F9E8CC;
}
/*.container {
    display: flex;
    background-color: #F07D37;
    width: 100%;
    height: 100%;
    padding-top: 1%;
}

.div1{
    font-family: 'Sancreek';
    font-weight: 500;
    font-size: 35px;
    color: #5F2420;
    width: 20px;
    height: 20%;
    margin-top: 80px;
    margin-left: -690px;
 }





 .img2{
    width: 150px;
    height: 75px;
    margin-top: 400px;
    margin-left: -680%;
 }*/


 #row1{
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#card1{
    background-color: #F07D37;
    width: 85%;
    height: -10%;
    margin-left: 2.5%;
    margin: 0 auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.Bnvd{
    font-family: 'Sancreek';
    font-weight: 700;
    font-size: 45px;
    color: #5F2420;
    width: 500%;
    height: 5%;
    margin-left: 185px;
    margin-top: 1%;
 }

 .div1{
    font-family: 'Sancreek';
    font-weight: 500;
    font-size: 35px;
    color: #5F2420;
    width: 150px;
    margin-top: 40px;
    margin-left: 200px;
 }

.beb{
    font-family: 'Sancreek';
    font-weight: 500;
    font-size: 35px;
    color: #5F2420;
    width: 150px;
    margin-top: -238px;
    margin-left: 470px;
 }

 .com{
    font-family: 'Sancreek';
    font-weight: 500;
    font-size: 35px;
    color: #5F2420;
    width: 250px;
    margin-top: -208px;
    margin-left: 750px;
 }

 .pla1{
    font-family: 'sans-serif';
    font-weight: 200;
    font-size: 20px;
    color: #5F2420;
    margin-top: -1.5%;
    margin-left: 200px;
}

.beb1{
    font-family: 'sans-serif';
    font-weight: 200;
    font-size: 20px;
    color: #5F2420;
    margin-top: -1.5%;
    margin-left: 470px;
}

.com1{
    font-family: 'sans-serif';
    font-weight: 200;
    font-size: 20px;
    color: #5F2420;
    margin-top: -1.5%;
    margin-left: 760px;
}

.divimg1 img{
    width: 200px;
    height: 90px;
    margin-top: 10%;
    margin-left: 50px;
 }

 .divimg2 img{
    width: 200px;
    height: 90px;
    margin-top: -10%;
    margin-left: 270px;
 }

 .divimg3 img{
    width: 200px;
    height: 130px;
    margin-top: -15%;
    margin-left: 480px;
 }
 .divimg4 img{
    width: 200px;
    height: 90px;
    margin-top: -22%;
    margin-left: 675px;
 }
 .divimg5 img{
    width: 200px;
    height: 95px;
    margin-top: -25%;
    margin-left: 870px;
 }
 .custom-font {
   font-family: 'Sancreek', cursive;
 }
