<body>
<br>

<div class="container ">
<table border="1">
  <tr>
      <th>Platillos</th>
      <th>Bebidas</th>
      <th>Complementos</th>
  </tr>
  <tr>
      <td>
          <ul>
              <li>Molotes</li>
              <li>Enchiladas</li>
              <li>Tostadas</li>
              <li>Gorditas</li>
              <li>Chalupas</li>
              <li>Tacos dorados</li>
          </ul>
      </td>
      <td>
          <ul>
              <li>Boing</li>
              <li>Coca cola</li>
              <li>Jarritos</li>
              <li>Sangría</li>
              <li>Sprite</li>
          </ul>
      </td>
      <td>
          <ul>
              <li>Patitas de puerco</li>
              <li>Patitas de pollo</li>
              <li>Huevo duro</li>
          </ul>
        </td>
  </tr>
</table>
<div class="row">
    <div class="col-md-4">
      <img src="assets/img/img1.png" class="img-fluid" alt="Imagen 1">
    </div>
    <div class="col-md-4">
      <img src="assets/img/img2.png" class="img-fluid" alt="Imagen 2">
    </div>
    <div class="col-md-4">
      <img  src="assets/img/img3.png" class="img-fluid" alt="Imagen 3">
    </div>
  </div>
</div>

<br>


</body>

