.container {
  background-color: #f07d37;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Para manejar contenido que excede el contenedor */
  height: auto;
   /* Permitir que la altura se ajuste al contenido */
}
.table-container {
  text-align: center;
  margin-top: 20px;
}
:host {
  background-color: #F5EAD6; /* El color de fondo que desees */
  display: block;
  width: 100%;
  height: 100%;
}
body{
  height: auto;
  background-color: #F9E8CC;
}
p, th, td {
  font-family: 'Sancreek';
  font-size: 18px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Ajustes para la sección de imágenes debajo de la tabla */
.row {
  margin-top: 20px;
}

.col-md-4 {
  padding: 5px;
}