<br><br><br>
        <div class="container">
        <div>
            <p class="Bnvd"> Antojitos Mexicanos MADS le ofrece:</p>
            <p class="plat">Platillos</p>
            <p class="beb">Bebidas</p>
            <p class="com">Complementos</p>
            <ul class="list">
                <li type="square">Molotes</li>
                <li type="square">Enchiladas</li>
                <li type="square">Tostadas</li>
                <li type="square">Gorditas</li>
                <li type="square">Chalupas</li>
                <li type="square">Tacos dorados</li>
            </ul>
            <ul class="beb1">
                <li type="square">Boing</li>
                <li type="square">Coca cola</li>
                <li type="square">Jarritos</li>
                <li type="square">Sangría</li>
                <li type="square">Sprite</li>
            </ul>
            <ul class="com1">
                <li type="square">Patitas de puerco</li>
                <li type="square">Patitas de pollo</li>
                <li type="square">Huevo duro</li>
            </ul><br><br>
            <img class="img1" src="assets/img/img1.png">
            <img class="img2" src="assets/img/img2.png">
            <img class="img3" src="assets/img/img3.png">
            <img class="img4" src="assets/img/img4.png">
            <img class="img5" src="assets/img/img5.png">
        </div>
    </div>
