<body>
    <main class="container">
        <div class="Bnvd">
            <p> Antojitos Mexicanos MADS le ofrece: </p>
        </div>
        <div class="div1">
            <p>Platillos</p>
        </div>
        <div class="list">
            <ul>
                <li type="square">Molotes</li> 
                <li type="square">Enchiladas</li>   
                <li type="square">Tostadas</li>
                <li type="square">Gorditas</li>
                <li type="square">Chalupas</li>
                <li type="square">Tacos dorados</li>
            </ul>
        </div>
        <div class="beb">
            <p>Bebidas</p>
        </div>
        <div>
            <ul>
                <li type="square">Boing</li> 
                <li type="square">Coca cola</li>   
                <li type="square">Jarritos</li>
                <li type="square">Sangría</li>
                <li type="square">Sprite</li>
            </ul>
        </div>
        <div class="com">
            <p>Complementos</p>
        </div>
        <div>
            <ul>
                <li type="square">Patitas de puerco</li> 
                <li type="square">Patitas de pollo</li>   
                <li type="square">Huevo duro</li>
            </ul>
        </div>
        <div>
              <img class="img1" src="assets/img/img1.png" alt="Icono de google"/>
        </div>
        <div>
            <img class="img2" src="assets/img/img2.png" alt="Icono de google"/>
        </div>
    </main>
</body>