<body>
  <br>
  
<div class="container ">
  <div>
    <p style="font-size: 30px;">Detalles</p>
    <div class="table-container">
    <table class="styled-table">
      <thead>
      <!-- <th>ID Mesa</th>-->
        <th>ID Detalle</th>
        <th>ID Ticket</th>
        <th>Cantidad</th>
        <th>Observaciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let detallesTicket of detalleTicketService.detallesTicket">
          <td>{{ detallesTicket.id_detalle }}</td>
          <td>{{ detallesTicket.id_ticket }}</td>
          <td>{{ detallesTicket.cantidad }}</td>
          <td>{{ detallesTicket.observaciones }}</td>
           <!--  <td>{{ mesas.id_mesa }}</td>-->
        <!--  <td>{{ mesas.id_mesero }}</td>-->
        </tr>
      </tbody>
    </table>
  </div>
    




  </div>

  <div style="text-align: center;">
    <p style="font-size: 24px;">Total: $50.00</p>
  </div>

  <button mat-icon-button class="boton" routerLink="/cash-break">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
</body>