<div class="container" style="background-color: #F07D37; margin-top: 20px; padding: 20px;">
    <p style="font-size: 24px;">Mesa 1</p>
    
    <table style="width: 100%;">
      <thead>
        <tr>
          <th style="font-size: 18px;">Orden</th>
          <th style="font-size: 18px;">Cantidad</th>
          <th style="font-size: 18px;">Bebidas</th>
          <th style="font-size: 18px;">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enchiladas</td>
          <td>2</td>
          <td>Coca-Cola</td>
          <td>3</td>
        </tr>
        <!-- Puedes agregar más filas aquí -->
      </tbody>
    </table>
    <br>
  
    <div class="total">
      <p style="font-size: 24px;">Total: $50.00</p>
    </div>
  </div>
  