#idMesa{
    padding-left: 4%;
    font-size: 27px;


/* MESA ORDEN */
}
#row1{
    height:auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
}

#card1{
    background-color: #F07D37;
    width: 60% ;
    height: 80%;
}


 #meseroOpcion{
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#platilloOpcion{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
}
#bebidaOpcion{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
}


#cantidadPlatillo{
    text-align: center;
    width: 30px;
    border: none;
    outline: none;
    border-radius:5px;
    height: 25px;
    background-color: #F07D37;
}

#aumentarPlatillo{
    background-color: #000000;
    font-family: "Sancreek", sans-serif;
    font-size: 10px;
    height: min-content;
    color: #e4d9d9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#disminuirPlatillo{
    background-color: #000000;
    font-size: 10px;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#cantidadBebida{
    text-align: center;
    width: 30px;
    border: none;
    outline: none;
    border-radius:5px;
    height: 25px;
    background-color: #F07D37;
}

#aumentarBebida{
    background-color: #000000;
    font-size: 10px;
    height: min-content;
    color: #e4d9d9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#disminuirBebida{
    background-color: #000000;
    font-family: "Sancreek", sans-serif;
    font-size: 10px;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.Observaciones{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
}

#btnAddPlatillo{
    background-color: #F4A618;
    font-family: "Sancreek", sans-serif;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}
#btnAddBebida{
    background-color: #F4A618;
    font-family: "Sancreek", sans-serif;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

#btnDeletePlatillo{
    background-color: #A22022;
    font-family: "Sancreek", sans-serif;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}

#btnDeleteBebida{
    background-color: #A22022;
    font-family: "Sancreek", sans-serif;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}


/* TICKET */
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para la card */
.card2 {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla */
.custom-table2 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table2 th, .custom-table2 td {
  border-bottom: 1px solid #000;
  padding: 8px;
  font-size: 16px;
}

:host {
  background-color: #F5EAD6; /* El color de fondo que desees */
  display: block;
  width: 100%;
  height: 100%;
}
body{
  height: auto;
  background-color: #F9E8CC;
}
/* Estilos para hacer el contenido más receptivo */

/* Estilo para la fila principal */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilo para las tarjetas */
  .card {
    flex: 0 0 100%; /* Ocupará el 100% del ancho en pantallas pequeñas */
    margin-bottom: 20px;
  }
  
  /* Media query para pantallas medianas y grandes */
  @media (min-width: 768px) {
    .card {
      flex: 0 0 48%; /* Ocupará el 48% del ancho en pantallas medianas y grandes */
      margin-right: 2%; /* Espacio entre las tarjetas */
    }
  }
  
  /* Estilo para el contenido de la tabla del ticket */
  .custom-table2 {
    width: 100%;
  }
  
  /* Media query para ajustar la tabla del ticket en pantallas pequeñas */
  @media (max-width: 768px) {
    .custom-table2 th,
    .custom-table2 td {
      font-size: 14px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
  }
  