
  <br>
  <h1 id="idMesa" class="custom-font"><strong>MESA</strong></h1>
  <div class="row" id="row1"    style=" position: relative; " >
    <!-- CARD 1 - ORDENES -->
    <div class="card" id="card1">
        <div class="card-body">
            <h1 class="card-title custom-font"><strong>Ordenes</strong></h1>
            <!-- Mesero -->
            <p style="font-size: 18px;"> Mesero </p>
            <select id="meseroOpcion">
              <option value="opcion" >Opción 1</option>
              <option value="opcion" >Opción 2</option>
              <option value="opcion" >Opción 3</option>
          </select>
          <br><br>
          <!-- Platillo -->
          <div class="row" id="platillo" style="width: 70%;">
            <div class="col">
              <p style="font-size: 18px;"> Platillo </p>
              <select id="platilloOpcion">
              <option>Platillo 1</option>
              <option>Platillo 2</option>
              <option>Platillo 3</option>

              </select>
            </div>
            <div class="col">
              <p style="font-size: 18px;"> Cantidad </p>
              <button (click)="decrementoPlatillo()" 
                [disabled]="numeroPlatillo <=1" 
                class="btn"id="disminuirPlatillo">-
              </button>
                <input type="text" id="cantidadPlatillo" value="{{numeroPlatillo}}">
              <button (click)="incrementoPlatillo()" 
                [disabled]="numeroPlatillo >= 20" 
                class="btn" id="aumentarPlatillo">+
              </button>

            </div>
            <div class="col">
              <p style="font-size: 18px;" > Observaciones </p>
              <input type="text" id="idObservaciones">
            </div>
          </div>
          <br>
          <!-- Botones agregar y eliminar Platillo -->
          <button class="button" id="btnAddPlatillo">Agregar</button>
          <button class="button" id="btnDeletePlatillo">Eliminar</button>
          <br><br>


          <!-- Bebidas -->
          <div class="row" id="bebida" style="width: 46%;">
            <div class="col">
              <p style="font-size: 18px;"> Bebida </p>
              <select id="bebidaOpcion">
              <option value="opcion" >Bebida 1</option>
              <option value="opcion" >Bebida 2</option>
              <option value="opcion" >Bebida 3</option>

              </select>
            </div>
            <div class="col">
              <p style="font-size: 18px;"> Cantidad </p>
            <button (click)="decrementoBebida()" 
                [disabled]="numeroBebida <=1" 
                class="btn"id="disminuirBebida">-
            </button>
            <input type="text" id="cantidadBebida" value="{{numeroBebida}}">
            <button (click)="incrementoBebida()" 
                [disabled]="numeroBebida >= 20" 
                class="btn" id="aumentarBebida">+
            </button>

            </div>
            </div>
            <br>
            <button class="button" id="btnAddBebida">Agregar</button>
            <button class="button" id="btnDeleteBebida">Eliminar</button>
            <br><br>



        </div>
    </div>


    <!-- CARD 2 - TICKET -->
    <div class="card" id="card2">
        <div class="card-body" >
            <h1 id="textTicket" class="custom-font"><strong>Ticket</strong></h1>
            <table style="width: 100%; text-align: center;">
              <thead>
                <tr>
                  <th style="font-size: 16px; border-bottom: 1px solid #000; ">Orden</th>
                  <th style="font-size: 16px; border-bottom: 1px solid #000; ">Cantidad</th>
                  <th style="font-size: 16px; border-bottom: 1px solid #000; ">Observaciones</th>
                  <th style="font-size: 16px; border-bottom: 1px solid #000; ">Precio</th>
                </tr>
              </thead>
              <br>
              <tbody>
                
              </tbody>
            </table>
            <img src="assets/mariachi.png" id="mariachi" class="card-img-top" alt="mariachi">


            <div class="row" id="rowTotal">
              <h2 class="col" style="text-align:end;">Total:</h2>
              <h2 class="col" id="idTotal">$150</h2>
            </div>

        </div>
    </div>
  </div>