<body>


  <br>

  <h1 id="idMesa" class="custom-font"><strong></strong></h1>
  <div class="row" id="row1"    style=" position: relative; " >
    <!-- CARD 1 - ORDENES -->
    <div class="card" id="card1">
        <div class="card-body">
            <h1 class="card-title custom-font"><strong>Ordenes</strong></h1>

            <form #Platillos="ngForm">   <!-- Formulario -->
          <!-- Platillo -->
          <div class="row" id="platillo" style="width: 70%;">

            
              <div class="col-lg-3">
                <label for="platilloOpcion"  style="font-size: 18px;">Platillo</label>
                <select id="platilloOpcion" name="id_platillo" type="text" name="nombre" class="form-control"
                [(ngModel)]="detalleTicketService.selectedDetalle.id_platillo">
                  <option value="1">Enchiladas</option>
                  <option value="2">Molotes</option>
                  <option value="3">Tostadas</option>
                  <option value="4">Gorditas</option>
                  <option value="5">Chalupas</option>
                  <option value="6">Tacos dorados</option>
                  <option value="7">Patita de Puerco</option>
                  <option value="8">Pata de pollo</option>
                  <option value="9">Huevo Duro</option>
                  <option value="10">Quesadilla</option>
                </select>

            </div>


            <div class="col-lg-3">
              <p style="font-size: 18px;"> Cantidad </p>
              <button (click)="decrementoPlatillo()"
                [disabled]="numeroPlatillo <=1"
                class="btn"id="disminuirPlatillo">-
              </button>
                <input type="text" id="cantidadPlatillo" value="{{numeroPlatillo}}">
              <button (click)="incrementoPlatillo()"
                [disabled]="numeroPlatillo >= 20"
                class="btn" id="aumentarPlatillo">+
              </button>

            </div>
            <div class="col-lg-3">
              <p style="font-size: 18px;" > Observaciones </p>
              <input type="text" class="Observaciones" id="idObservaciones">
            </div>

            <div class="col-lg-3">
              <label for="precioPlatillo" style="font-size: 18px;">Precio</label>
              <select id="precioPlatillo" name="precioPlatillo" class="form-control">
                <option value="22">22</option>
                <option value="18">18</option>
                <option value="12">12</option>
                <option value="8">8</option>
              </select>

          </div>
      </div>
        <br>

        <div class="row">
          <div class="col-lg-3">
          <!-- Botones agregar y eliminar Platillo -->
          <button class="button" id="btnAddPlatillo" (click)="addDetalleTicket(Platillos)">Agregar</button>
        </div>
          <div class="col-lg-3">
          <button class="button" id="btnDeletePlatillo">Eliminar</button>
          </div>
          <div class="col-lg-6"></div>
        </div>
          <br>


          <!-- Bebidas -->
          <div class="row"  style="width: 70%;">
            <div id="bebida"class="col-lg-4">
              <p style="font-size: 18px;"> Bebida </p>
              <select id="bebidaOpcion">
              <option id="1">Boing 350 ml</option>
              <option id="2">Coca Cola</option>
              <option id="3">Jarritos</option>
              <option id="4">Sangría</option>
              <option id="5">Sprite</option>

              </select>
            </div>

            <div class="col-lg-4">
              <p style="font-size: 18px;"> Cantidad </p>
            <button (click)="decrementoBebida()"
                [disabled]="numeroBebida <=1"
                class="btn"id="disminuirBebida">-
            </button>
            <input type="text" id="cantidadBebida" value="{{numeroBebida}}">
            <button (click)="incrementoBebida()"
                [disabled]="numeroBebida >= 20"
                class="btn" id="aumentarBebida">+
            </button>

            </div>

            <div class="col-lg-3">
              <label for="precioBebida" style="font-size: 18px;">Precio</label>
              <select id="precioBebida" name="precioBebida" class="form-control">
                <option value="20">20</option>
                <option value="15">15</option>
              </select>

          </div>
            </div>

            <br>
            <div class="row">
              <div class="col-lg-3">
            <button class="button" id="btnAddBebida">Agregar</button></div>
            <div class="col-lg-3">
            <button class="button" id="btnDeleteBebida">Eliminar</button>
          </div>
          <div class="col-lg-6"></div>
          </div>
            <br><br>
          </form>




        </div>
    </div>



    <!-- CARD 2 - TICKET -->
    <div class="card2" id="card2">
      <div class="card-body2">
          <h1 id="textTicket" class="custom-font"><strong>Ticket</strong></h1>
          <table class="custom-table2">
              <thead>
                  <tr>
                      <th>Orden</th>
                      <th>Cantidad</th>
                      <th>Observaciones</th>
                      <th>Precio</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Contenido de la tabla -->
              </tbody>
          </table>
          <img src="assets/mariachi.png" id="mariachi" class="card-img-top" alt="mariachi">
          <div class="row" id="rowTotal">
              <!-- Contenido del total -->
          </div>
      </div>
  </div>

  </div>
</body>
