<br><br><br><br>
<div class="containerone"><br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h2>No. Mesa</h2>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
            <div class="col-md-8">
            <h2>Total</h2>
            <br>
            <div class="input-group">
                <input type="text" class="input-short" placeholder="$">
                <button type="button" class="icon-button" routerLink="/details">
                    <span class="material-icons">manage_search</span>
                </button>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="input-short" placeholder="$">
                <button type="button" class="icon-button" routerLink="/details">
                    <span class="material-icons">manage_search</span>
                </button>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="input-short" placeholder="$">
                <button type="button" class="icon-button" routerLink="/details">
                    <span class="material-icons">manage_search</span>
                </button>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="input-short" placeholder="$">
                <button type="button" class="icon-button" routerLink="/details">
                    <span class="material-icons">manage_search</span>
                </button>
            </div>
            <br><br>
            </div>
        </div>
    </div><br><br>
</div>
<div class="containersecond"><br><br><br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <button class="cashbreack-button">Corte de Caja</button>
            </div>
            <div class="col-md-3">
                <h2>Total:</h2>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div><br><br>
</div>
